/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 * {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

header{
    height: 10%;
    
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

*{
    padding:0;
    margin:0;
    border:none;
}

body{
    width:100hw;
    height:100vh;
    margin:0 auto;
    background: url(../img/bg.jpg) no-repeat center top;
    background-size: contain;
}

.app{
    width:75vw;
    height: 100vh;
    margin:0 auto;
    padding-top: 3vh;
}


#slot_machine
{
    width:100%;
    background: url(../img/bg_machine.png) no-repeat center top;
    background-size: contain;
    height: 500px;
    margin-left: 30px;
    margin-top: -20px;
}

#slots{
    margin-top: 7px;
    height:305px;
    float:left;
    width:600px;
    margin-left: 75px;
    display: block;
    overflow: hidden;
    position: relative;
}
#slots>div{
    width: 30%;
    height:100%;
    float:left;
    position:relative;

}

#slots li img{
    width:100%;
}

#slots li img.rolling
{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#slots>div:nth-child(2n){
    margin:0 3%;
}

#slots ul{
    height:100%;
    width:100%;
    display:block;
    position:absolute;
    /*transition: top 1s ease-in;
    -webkit-transition: top 1s ease-in;*/

}

#slots ul>li{
    display:block;
    width:100%;
    height:305px;
    text-align: center;
    line-height: 305px;
}



#slots .jSlots-wrapper>ul:nth-child(2n){
background: red;
}

#control{
    width:100px;
    margin-top: -160px;
    float:right;
    height:480px;
    position:relative;
}

#push:focus{
    border:none;
    outline:none;
}
#push{
    background:url(../img/button.png) no-repeat center top;
    background-size: 100%;
    width:60%;
    left:22%;
    top:10%;
    height:50%;
    position:absolute;
    z-index: 200;
    
}



#push.animate{
    -webkit-transition: all 0.3s ease-out;
    transition: top 0.3s  ease-out;
}



.jSlots-wrapper {  
    overflow: hidden; /* to hide the magic */  
    /*height: 20px;  whatever the height of your list items are   */
    height:305px;
    width:100%;
    display: inline-block; /* to size width correctly, can use float too, or width*/  

}


img {
    
}

.logo {
    width:14.5%;
    float: left
    
}

#pontuacao
{
    width:80%;
    padding-top: 40px;
}

#pontuacao li{
    display: block;
    float:left;
    color:white;
    font-size: 30px;
    padding: 20px 60px;
    text-align: center;
    
}

#pontuacao li:nth-child(2n)
{
   padding-left:80px; 
    padding-right:70px;
}
